
.menu-site {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #258090;
    padding: 10px 0;
    z-index: 1000;
}

.menu-site ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-site li {
    margin: 0 15px;
}

.menu-site a {
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 35px;   
}
.image-form{
  width: 300px;
  height: 300px;
  margin-left: 50px;
}
.menu-site a:hover {
    color:#689aa3;
}

.texto1{
    margin-left: 80px;
    margin-right: 80px;
    color: #ffffff;
    text-align: justify;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.texto2{
    margin-left: 80px;
    margin-right: 80px;
    color: #ffffff;
    text-align: justify;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.titulo-bullyng{
  align-content: center;
  font-size: 40px;
}
.texto-bullyng2{
  margin-left: 250px;
  margin-right: 250px;
  text-align: justify;
  color:#ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: none;
}
.texto-container{
  color:#ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


header {
    text-align: center;
}

body {
    background-color: #1a4063;
    color: rgb(240, 234, 234);
}

.container {
    display: flex;
    
}

form {
    


    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





/* Estilo geral do formulário */
form {
  max-width: 500px; 
  margin: 40px auto; 
  padding: 25px; 
  background: #ffffff; 
  border-radius: 12px; 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


/* Labels */
form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}

/* Inputs e selects */
form input, 
form select, 
form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  transition: all 0.3s ease;
}

/* Foco */
form input:focus, 
form select:focus, 
form textarea:focus {
  border-color:#1a4063; /* Roxo suave */
  box-shadow: 0 0 6px rgba(106, 90, 205, 0.3);
}

/* Botão */
form button, 
form input[type="submit"] {
  width: 100%;
  padding: 12px;
  background: #1a4063; 
  color:#ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
}

/* Hover no botão */
form button:hover, 
form input[type="submit"]:hover {
  background: #689aa3;
  transform: translateY(-2px);
}

/* Responsividade */
@media (max-width: 600px) {
  form {
    padding: 20px;
    margin: 20px;
  }
}
